/* mobile styling */
@media screen and (max-width: 1199px) {
    .contactName {
        display: flex;
        flex-direction: column;
    }

    .contactPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary-background-color);
        color: white;
    }

    .contactMe {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2rem;
        padding: 5px;
    }

    .contactInfo {
        border: 1px solid black;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 10px;
        background-color: var(--secondary-background-color);
        border-radius: 30px;
    }

    .contactTitle {
        display: flex;
        font-size: 28px;
        justify-content: center;
        margin: 2px;
        border-bottom: solid 1px black;
        overflow: hidden;
    }

    .contactItem {
        margin: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        border: solid 1.5px var(--primary-background-color);
        border-radius: 100px;
        background-color: var(--third-background-color);
        margin-left: 10%;
        margin-right: 10%;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .contactItem a:hover {
        color: white;
    }

    .contactSubmit {
        margin-top: 5px;
        justify-content: center;
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .contactPage {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: var(--primary-background-color);
        color: white;
    }
    
    .contactInfo {
        order: 1;
        flex-basis: 20%;
        border: 1px solid black;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 10px;
        background-color: var(--secondary-background-color);
        border-radius: 30px;
    }
    
    .contactMe {
        display: flex;
        order: 2;
        flex-basis: 80%;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2rem;
        padding: 5px;
    }
    
    .nameBox {
        width: 40%;
    }
    
    .contactName {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .contactSubmit {
        margin-top: 5px;
        justify-content: center;
    }
    
    .contactTitle {
        display: flex;
        font-size: 28px;
        justify-content: center;
        margin: 2px;
        border-bottom: solid 1px black;
        overflow: hidden;
    }
    
    .contactItem {
        margin: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        border: solid 1.5px var(--primary-background-color);
        border-radius: 100px;
        /* font-size: 14px; */
        background-color: var(--third-background-color);
        margin-left: 10%;
        margin-right: 10%;
        flex-wrap: wrap;
        overflow: hidden;
        /* align-items: center; */
    }
    
    .contactItem a {
        color: white;
    }
    
    .contactItem a:hover {
        color: var(--primary-hover);
    }
}