.detailsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-background-color);
}

.purpose {
    background-color: var(--secondary-background-color);
    border-radius: 15px;
    padding: 5px;
    color: white;
}


/* mobile styling */
@media screen and (max-width: 800px) {
    .purpose {
        margin: 10px;
    }

    .purpose h1 {
        font-size: 2rem;
    }

    .purpose p {
        font-size: 1rem;
    }

    .screenshot {
        margin: 5px;
    }
}

