.detailsPage {
    background-color: var(--primary-background-color);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.purpose {
    background-color: var(--secondary-background-color);
    border-radius: 15px;
    padding: 5px;
    color: white;
    margin: 10px;
}

.examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* desktop only styling */
@media screen and (min-width: 800px) {
    .exampleContainer {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .exampleContainer h1 {
        color: white;
    }

    .pictureContainer {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }

    .pictureWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .picture {
        height: 80%;
        width: auto;
        object-fit: contain;
        margin: 10px;
    }

    .caption {
        margin-top: 5px;
        text-align: center;
        color: white;
    }
}

/* mobile styling */
@media screen and (max-width: 800px) {
    .purpose {
        margin: 10px;
    }

    .purpose h1 {
        font-size: 2rem;
    }

    .purpose p {
        font-size: 1rem;
    }

    .screenshot {
        margin: 5px;
    }
}

