.homeContainer {
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    display: flex;
    flex-direction: column;
}

.infoCard {
    background-color: var(--secondary-background-color);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.about {
    width: 75%;
    color: white;
}

.about p {
    font-size: 1.1em;
}

@media screen and (min-width: 800px) {
    .infoCard img {
        margin-right: 20px;
        margin-left: 20px;
        max-width: 20%;
        max-height: 80%;
        border-radius: 15px;
        height: auto;
        width: auto;
        object-fit: cover;
        align-self: center;
    }
}

.horzContainer {
    display: flex;
    flex-direction: row;
}

.homeNavbar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: var(--primary-background-color);
}

.homeNavbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    position: sticky;
    height: 25%;
    top: 0;
    margin-top: 5px;
}

.homeNavbar li:hover {
    color: var(--primary-hover);
}

.homeNavbar li {
    padding: 5px;
    display: flex;
    justify-content: center;


    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.homeNavbar a {
    color: white;
    text-decoration: none;

}

.courseList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}



.courseList p {
    text-decoration: underline;
}

.courseList ul {
    list-style: square;
    padding: 5px;
}

.courseList li {
    color: white;
    padding: 5px;
}

.imageSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

@media screen and (max-width: 799px) {
    .courseList {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .infoCard {
        flex-direction: column;
    }

    .infoCard img {
        width: 100%;
        height: auto;
        margin: 0;
        /* border: 1px solid red; */
        border-radius: 15px;
    }

    .imageSkills {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .imageSkills img {
        max-width: 75px;
        max-height: auto;
        height: auto;
        width: auto;
        padding: 1px;
    }
}